<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="diplomatssummit.com.diplomatssummit">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".DiplomatApp"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round" />
        <activity android:name=".Gallery.Gal_InsidePageActivity" />
        <activity android:name=".invest.InvestActivity" />
        <activity
            android:name=".invest.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".invest.Authorised" />
        <activity android:name=".invest.OpportunityActivity" />
        <activity android:name=".invest.FinalSkin" />
        <activity android:name=".invest.FinalsknImages" />
        <activity android:name=".app_ui.stories.DetailedStory" />
        <activity android:name=".PartnerActivity"></activity>
        <activity android:name=".articles.ArticleReaderActivity" />
    </application>

</manifest>